{
  "info": "base16-{{scheme-name}} by {{scheme-author}}",
  "colors": {
    "frame":                        "#{{base01-hex}}",
    "button_background_active":     "#{{base02-hex}}",
    "button_background_hover":      "#{{base01-hex}}",
    "icons":                        "#{{base05-hex}}",
    "icons_attention":              "#{{base0D-hex}}",
    "ntp_background":               "#{{base00-hex}}",
    "ntp_text":                     "#{{base05-hex}}",
    "tab_line":                     "#{{base0D-hex}}",
    "tab_loading":                  "#{{base0D-hex}}",
    "tab_selected":                 "#{{base00-hex}}",
    "tab_text":                     "#{{base05-hex}}",
    "tab_background_text":          "#{{base05-hex}}",
    "toolbar":                      "#{{base00-hex}}",
    "popup":                        "#{{base00-hex}}",
    "popup_text":                   "#{{base05-hex}}",
    "popup_border":                 "#{{base00-hex}}",
    "popup_highlight":              "#{{base02-hex}}",
    "popup_highlight_text":         "#{{base06-hex}}",
    "tab_background_separator":     "#{{base04-hex}}",
    "toolbar_bottom_separator":     "#{{base01-hex}}",
    "toolbar_field":                "#{{base02-hex}}",
    "toolbar_field_focus":          "#{{base02-hex}}",
    "toolbar_field_text_focus":     "#{{base06-hex}}",
    "toolbar_field_border":         "#{{base00-hex}}",
    "toolbar_field_border_focus":   "#{{base0D-hex}}",
    "toolbar_field_separator":      "#{{base04-hex}}",
    "toolbar_field_text":           "#{{base06-hex}}",
    "bookmark_text":                "#{{base05-hex}}",
    "toolbar_top_separator":        "#{{base01-hex}}",
    "toolbar_vertical_separator":   "#{{base01-hex}}"
  }
}
